/* You can add global styles to this file, and also import other style files */
 body{
   direction:ltr;
   padding: 50px;
   font-family: 'cursive';
   font-size: medium;
   text-align: left;
} 

input{
   text-align: left;
}

.p-datatable .p-datatable-thead > tr > th {
   text-align: center  !important;
}
.p-selectbutton .p-button.p-highlight{
   background-color:orange;
   border-color: orange;
}
.surface-border {
   border-color: green;
}
.surface-card{
   background-color: green;
}



